.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #252525;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 600;
}

.span-ele {
  color: #374ab6;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-left: 15px;
}

.line-ele {
  border: 3px #37c848 solid;
  width: 180px;
  margin-left: 650px;
}

.abstraction {
  color: #252525;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 600;
}

.header-sub-container {
  width: 1250px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 450px;
  height: 250px;
  margin-left: 190px;
  margin-right: 20px;
}

.eg-container {
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.description {
  color: #252525;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 400;
}
.high-lite {
  color: #2ced43;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 400;
}
.efforts {
  color: #1f2a9f;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 0px;
}
